{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<footer class="footer  page-width color-{{ section.settings.color_scheme }} ">
  <div class="footer__inner ">
    <div class="footer__main-text rte">
      {{ section.settings.main_text }}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "richtext",
      "id": "main_text",
      "label": "Main text",
      "default": "<p>Footer text</p>"
    }
  ],
  "presets": [
    {
      "name": "t:sections.footer.name"
    }
  ]
}
{% endschema %}
