.footer {
  padding-bottom: 40px;
}

.footer__inner {
 border: 2px solid rgba(var(--color-foreground));
 padding: 40px;
 border-radius: 20px;
 background-color: white;
}

.footer__main-text {
  text-align: center;
  font-size: 20px;
}

@media(max-width: 448px) {

.footer__inner {
  padding: 16px 12px 14px;
  border-radius: 12px;
 }
  .footer__main-text {
    font-size: 17px;
  }
  .footer p {
    line-height: 0.9;
  }
}
