.section__accordion  {
 padding: 120px 0;
}

.section__accordion .accordion-wrap {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section__accordion .accordion-row {
  background-color: transparent;
  border: 1px solid var(--sand);
  border-radius: 20px;
}

.section__accordion .accordion-row:last-child {
  
}

.section__accordion .accordion-trigger {
  align-items: center;
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  text-align: left;
  width: 100%;
}

.section__accordion .accordion-title {
  color: var(--sand);
}

.section__accordion .accordion-icons {
  display: inline-flex;
  margin-left: 1.2rem;
  span {
    font-size: 40px;
  }
}

.section__accordion .icon-minus {
  display: none;
}

.section__accordion .accordion-row.is-open .icon-plus {
  display: none;
}

.section__accordion .accordion-row.is-open .icon-minus {
  display: inline-block;
}

.section__accordion .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.section__accordion .accordion-content-inner {
  padding: 24px;
}
